<section fxLayout fxLayoutAlign='center'>
  <mat-card fxFlex.xs='100%' fxFlex='400px' fxLayout='column' fxLayoutAlign='center center'>
    <mat-card-title>Time to start training</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Select me" #typeddl>
          <mat-option value="crunches">Crunches</mat-option>
          <mat-option value="touch-toes">Touch Toes</mat-option>
          <mat-option value="single-lunges">Single Lunges</mat-option>
          <mat-option value="burpees">Burpees</mat-option>
        </mat-select>
        <mat-hint>select a type of training</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onStartClick(typeddl)" >Start</button>
    </mat-card-actions>
  </mat-card>
</section>
