<section fxLayout fxLayoutAlign='center'>
  <mat-card fxFlex.xs='100%' fxFlex='400px' fxLayout='column' fxLayoutAlign='center center'>
    <mat-card-title>{{training.type}} is in progress</mat-card-title>
    <mat-card-content>
      <mat-progress-spinner color='accent' mode='determinate' [value]='progress'></mat-progress-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color='warn' (click)="openDialog()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</section>
